<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">Local Comment</h2>
        <ul class="contact-list">
          <li><a href="https://github.com/SangLiang/vscode-local-commet/issues" target="_blank" rel="noopener">提交 Issue</a></li>
          <li><a href="mailto:sangliang_sa@qq.com">sangliang_sa@qq.com</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>
      <div class="footer-col footer-col-3">
        <p>&copy; {{ site.time | date: "%Y" }} Local Comment. <a href="https://github.com/SangLiang/vscode-local-commet/blob/master/LICENSE" target="_blank" rel="noopener">MIT License</a></p>
      </div>
    </div>
  </div>
</footer>
